<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Florida Tourist Attractions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body>

    <!-- Page header -->
    <div style="height:90px">
        <header>
            <img src="{{ url_for('static', filename='floridaflag.jpg') }}" style="float:left" class="flag">
            <img src="{{ url_for('static', filename='floridaflag.jpg') }}" style="float:right" class="flag">
            <h1>Florida Tourist Attractions Search Tool</h1>
        </header>
    </div>

    <hr>

    <!-- Accesses other HTML templates to extend the base.html file -->
    {% block content %}

    {% endblock %}

</body>
</html>