<!--
Provides information on the website
Lists the features of the search function
Explains how to use the website
Lists information about the creation of the site & data used on the site
-->

{% extends "base.html" %}

{% block content %}

<!-- Allows navigation back to search & table page -->
<a href="http://localhost:8080"><button>Back to Search</button></a>

<div>
    <h2>Help & Information</h2>
    <h3>Features</h3>
    <ul>
        <li>Assists in searching through popular tourist attractions in the state of Florida</li>
        <li>Lists all available tourist attractions</li>
        <li>Filter the list search by attraction name, type, group size, rating, and price!</li>
        <li>185 entries to search through!</li>
    </ul>
    <h3>Using the Search Tool</h3>
    <p class="bold">To use the search tool:</p>
    <ol>
        <li>Type in and/or select what to search for in the menu</li>
        <ul>
            <li>You can select multiple search types at once</li>
        </ul>
        <li>Press "Search"</li>
        <li>Results will be displayed</li>
    </ol>
    <ul>
        <li>Searching with no input displays all locations</li>
    </ul>
    <h3>Information</h3>
    <ul>
        <li>Created by Michelle McAveety at Freedom High School for the 2021-2022 FBLA Coding and Programming competition</li>
        <li>All location name, address, telephone, and description data was accessed from <a href="https://www.florida-backroads-travel.com/florida-tourist-attractions.html" target="_blank">https://www.florida-backroads-travel.com/florida-tourist-attractions.html</a></li>
        <li>Entries were omitted in scenarios where the aforementioned data was missing or inconsistent</li>
        <li>Data was unaltered except to improve clarity or program functionality</li>
        <li>Location type, group size, rating, and price data were generated for purposes of program search functionality</li>
        <li>Location type was assigned algorithmically where "museum" or "park" was present in location name. Remaining entries were manually assigned location types</li>
        <li>Location group size was algorithmically assigned based on location type. In instances where location type was "other", group size was manually assigned</li>
        <li>Location rating was pseudorandomly assigned to each entry</li>
        <li>Location price was algorithmically assigned based on location description and manually checked for accuracy</li>
    </ul>
</div>


{% endblock %}