<!--
Provides information on the website,
Lists the features of the search function,
Explains how to use the website,
& Lists information about the creation of the site & data used on the site
-->

<!-- Connects info.html to base.html -->
{% extends "base.html" %}

<!-- Changes page title -->
{% block title %}Help & Information{% endblock %}

<!-- Picks up where base.html left off -->
{% block content %}

<!-- Allows navigation back to search & table page -->
<a href="http://localhost:8080"><button>Back to Search</button></a>

<!-- Various lists of important information -->
<div>
    <h2>Help & Information</h2>
    <h3>Features</h3>
    <ul>
        <li>Assists in searching through popular tourist attractions in the state of Florida</li>
        <li>Lists all available tourist attractions</li>
        <li>Filter the list search by attraction name, type, group size, rating, and price!</li>
        <li>185 entries to search through!</li>
    </ul>
    <h3>Using the Search Tool</h3>
    <p class="bold">To use the search tool:</p>
    <ol>
        <li>Type in and/or select what to search for in the menu</li>
        <ul>
            <li>You can select multiple search types at once</li>
        </ul>
        <li>Press "Search"</li>
        <li>Results will be displayed</li>
    </ol>
    <p class="bold">Note:</p>
    <ul>
        <li>Searching with no input displays all locations</li>
        <li>Name: searches for the attraction name (non-case-sensitive)</li>
        <li>Type: displays all attractions in the selected category</li>
        <li>Price: displays all free attractions</li>
        <li>Group Size: displays attractions with the selected recommended group size</li>
        <li>Rating: displays attractions with the selected rating, out of 5</li>
    </ul>
    <h3>Information</h3>
    <ul>
        <li>Created by Michelle McAveety at Freedom High School for the 2021-2022 FBLA Coding and Programming competition</li>
        <li>All attraction name, address, telephone, and description data was accessed from <a href="https://www.florida-backroads-travel.com/florida-tourist-attractions.html" target="_blank">https://www.florida-backroads-travel.com/florida-tourist-attractions.html</a></li>
        <li>Entries were omitted in scenarios where the aforementioned data was missing or inconsistent</li>
        <li>Data was unaltered except to improve clarity or program functionality</li>
        <li>Attraction type, group size, rating, and price data were generated for purposes of program search functionality</li>
        <li>Type was assigned algorithmically where "museum" or "park" was present in attraction name. Remaining entries were manually assigned attraction types</li>
        <li>Price was algorithmically assigned based on attraction description and manually checked for accuracy</li>
        <li>Group size was algorithmically assigned based on attraction type. In instances where attraction type was "other", group size was manually assigned</li>
        <li>Rating was pseudorandomly assigned to each entry</li>
    </ul>
</div>

<a href="https://github.com/meepowlz/FBLA-Tourism-Search" target="_blank"><button><h3>Link to GitHub Repository</h3></button></a>


{% endblock %}