{% extends "base.html" %}
{% block content %}

<!-- Basic instructions for searching -->
<div style="text-align:center">
    <p>The search tool allows for efficient filtering of popular tourist attractions in the state of Florida.</p>
    <p>Type in the name of an attraction or select filters from the dropdown menus. Press "search" to filter results.</p>
    <p>Each search resets the filter.</p>
</div>

<hr>

<!-- Form to collect user selections -->
<form method="post" style="display:inline">

    <input type="text" id="name" name="name" placeholder="Attraction Name">

    <select id="type" name="type">
        <option value="0">Type</option>
        <option value="museum">Museum</option>
        <option value="outdoors park">Outdoors Park</option>
        <option value="theme park">Theme Park</option>
        <option value="nature">Nature</option>
        <option value="other">Other</option>
    </select>

    <select id="price" name="price">
        <option value="0">Price</option>
        <option value="free">Free</option>
    </select>

    <select id="group size" name="group size">
        <option value="0">Group Size</option>
        <option value="solo">Solo</option>
        <option value="duo">Duo</option>
        <option value="family">Family</option>
    </select>

    <select id="rating" name="rating">
        <option value="0">Rating</option>
        <option value="1">1 Star</option>
        <option value="2">2 Stars</option>
        <option value="3">3 Stars</option>
        <option value="4">4 Stars</option>
        <option value="5">5 Stars</option>
    </select>

    <input type="submit" value="Search">
</form>

<!-- Allows navigation to Help & Information page -->
<a href="http://localhost:8080/info"><button style="display:inline;">Help & Information</button></a>

<!-- Displays input & output information -->
<div>
    <!-- Displays user inputs -->
    {% if options|length == 0 %}
        <!-- Display nothing since no filters were used -->
    {% else %}
        <p>Filtered by: {{ options }}</p>
    {% endif %}
    <!-- Displays # of locations found in search -->
    {% if list|length == 185 %}
        <p>Showing all locations</p>
    {% elif 1 < list|length < 185 %}
        <p>{{list|length}} results</p>
    {% elif list|length == 1 %}
        <p>{{list|length}} result</p>
    {% else %}
        <!-- If no results were found, error returns instead -->
        <p>No locations found which match the search type.</p>
    {% endif %}
</div>


<!-- Table to display filtered data -->
{% if list %}
    <table>

        <colgroup>
            <col span="1" style="width: 15%">
            <col span="1" style="width: 35%">
            <col span="1" style="width: 20%">
            <col span="1" style="width: 10%">
            <col span="4" style="width: 5%">
        </colgroup>

        <tr>
            <th>Attraction Name</th>
            <th>Description</th>
            <th>Address</th>
            <th>Telephone #</th>
            <th>Type</th>
            <th>Price</th>
            <th>Group Size</th>
            <th>Rating</th>
        </tr>

    <!-- Loop to display each row of filtered data -->
    {% for location in list %}

        <tr>
            <td class="bold">{{ location["name"] }}</td>
            <td>{{ location["description"] }}</td>
            <td>{{ location["address"] }}</td>
            <td class="center">{{ location["telephone"] }}</td>
            <td class="center">{{ location["type"] }}</td>
            <td class="center">{{ location["price"] }}</td>
            <td class="center">{{ location["group size"] }}</td>
            <td class="center">{{ location["rating"] }}</td>
        </tr>

    {% endfor %}
    </table>

{% endif %}

{% endblock %}
