{% extends "base.html" %}
{% block content %}

<p>Search filters</p>
<form method="post">

    <input type="text" name="name" placeholder="Attraction Name">

    <select id="attractionType" name="attractionType">
        <option value="0">Type</option>
        <option value="1">Museum</option>
        <option value="2">Theme Park</option>
        <option value="3">Dining</option>
    </select>

    <select id="townName" name="townName">
        <option value="0">Town</option>
        <option value="1">Tampa</option>
        <option value="2">Orlando</option>
        <option value="3">Miami</option>
    </select>

    <select id="groupSize" name="groupSize">
        <option value="0">Group Size</option>
        <option value="1">Solo</option>
        <option value="2">Couples</option>
        <option value="3">Family</option>
    </select>

    <select id="rating" name="locationRating">
        <option value="0">Rating</option>
        <option value="1">1 Star</option>
        <option value="2">2 Stars</option>
        <option value="3">3 Stars</option>
        <option value="4">4 Stars</option>
        <option value="5">5 Stars</option>
    </select>

    <input type="submit" value="Search">
</form>

{% endblock %}
