{% extends "base.html" %}
{% block content %}

<!-- Displays link to Help & Information page -->
<a href="http://localhost:8080/info"><button>Help & Information</button></a>
<!-- Form to collect user selections -->
<form class="buffer" method="post">

    <input type="text" id="name" name="name" placeholder="Attraction Name">

    <select id="type" name="type">
        <option value="0">Type</option>
        <option value="museum">Museum</option>
        <option value="outdoors park">Outdoors Park</option>
        <option value="theme park">Theme Park</option>
        <option value="nature">Nature</option>
        <option value="other">Other</option>
    </select>

    <select id="price" name="price">
        <option value="0">Price</option>
        <option value="free">Free</option>
    </select>

    <select id="group size" name="group size">
        <option value="0">Group Size</option>
        <option value="solo">Solo</option>
        <option value="duos">Duos</option>
        <option value="family">Family</option>
    </select>

    <select id="rating" name="rating">
        <option value="0">Rating</option>
        <option value="1">1 Star</option>
        <option value="2">2 Stars</option>
        <option value="3">3 Stars</option>
        <option value="4">4 Stars</option>
        <option value="5">5 Stars</option>
    </select>

    <input type="submit" value="Search">
</form>

<!-- Table to display filtered data -->
<table>

    <colgroup>
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 35%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 10%;">
        <col span="4" style="width: 5%">
    </colgroup>

    <tr>
        <th>Attraction Name</th>
        <th>Description</th>
        <th>Address</th>
        <th>Telephone #</th>
        <th>Type</th>
        <th>Price</th>
        <th>Group Size</th>
        <th>Rating</th>
    </tr>
<!-- Loop to display each row of filtered data -->
{% for location in array %}

    <tr>
        <td class="bold">{{ location["name"] }}</td>
        <td>{{ location["description"] }}</td>
        <td>{{ location["address"] }}</td>
        <td class="center">{{ location["telephone"] }}</td>
        <td class="center">{{ location["type"] }}</td>
        <td class="center">{{ location["price"] }}</td>
        <td class="center">{{ location["group size"] }}</td>
        <td class="center">{{ location["rating"] }}</td>
    </tr>

{% endfor %}
</table>

{% endblock %}
